#about-page .carousel-item {
    background: #5f8aa9;
    padding: 50px 0 200px 150px;
    font-family: 'Source Sans Pro', sans-serif;
}

#about-page .carousel-item h3 {
    color: white;
    font-size: 2.75rem;
}

#about-page .carousel-item p {
    color: white;
    width: 50%;
    height: 25%;
    font-size: 1.2rem;
}