@media (min-width: 1200px) {
    #subscribe-page .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1000px;
    }
    #subscribe-page button {
        width: 100%;
    }
}

#subscribe-page input {
    padding: 15px 40px 13px 30px;
    font-size: 14px;
    font-weight: bold;
    font-family: serif;
    background: #87a7bf;
    border: 1px solid #87a7bf;
}

#subscribe-page input:hover {
    background: #ffde5f;
    border: 1px solid #ffde5f;
}

#subscribe-page input::placeholder {
    color: black;
}

#subscribe-page button {
    padding: 12px 50px;
    background: #3d5c73;
    border: 1px solid #3d5c73;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: serif;
    transition: 0.6s;
}

@media only screen and (max-width: 600px) {
    #subscribe-page button {
        width: 53%;
    }
}

#subscribe-page button:hover {
    background: black;
    border: 1px solid black;
    opacity: 1
}
